* {
  color: #fef0f4;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.code-input {
  background: linear-gradient(to right, #fef0f4, #fef0f4, #fdb7cb);
  border-radius: 15px;
  /* box-shadow: 3px 5px 2px #493657; Shadow: to have or not to have? */
  border: none;
  padding: 15px;
  font-size: 18px;
  font-family: 'Ubuntu Mono', monospace;
  resize: none;
  color: #FF1053;
  width: 50%;
}

textarea:focus {
  outline: none;
}

::placeholder {
  color: #e7dce1;
}

body {
  background: linear-gradient(to bottom, #fc618e, #d964d8, #4617d3) fixed;
  /* overflow: hidden; */
}

.center-col {
  text-align: center;
}

.title {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #fef0f4;
  font-weight: 500;
  font-size: 40px;
}

button.primary {
  margin-top: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-image: linear-gradient(to right, #fc618e, #fc7da2);
  box-shadow: 0 0 5px #fc618e;
  border: 0;
  font-size: 24px;
  border-radius: 15px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  box-shadow: 0 0 8px #fc618e;
  transition: 0.5s;
}
