* {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.code-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: 'Roboto Mono', monospace;
  resize: none;
}

textarea:focus {
  outline: none;
}

::placeholder {
  color: #e7dce1;
}

body {
  background: linear-gradient(to bottom, #d964d8, #4617d3) fixed;
  /* overflow: hidden; */
}

.center-col {
  text-align: center;
}

.title {
  padding-top: 80px;
  padding-bottom: 50px;
  color: white;
  font-weight: 500;
  font-size: 40px;
}

button.primary {
  margin-top: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-image: linear-gradient(to right, #fc618e, #fc7da2);
  box-shadow: 0 0 5px #fc618e;
  border: 0;
  font-size: 24px;
  border-radius: 15px;
}

button:focus {
  outline: none;
}
